{% extends 'base.html' %}

{% block content %}
<div class="container">
<form method="POST" action="/addhook/">
  {% csrf_token %}
  <select class="form-control" aria-label="Default select example" name="cre">
    <option selected>Выберите доступные подписки</option>
    <option value="1">ТОП3 незакрытых сделкок за неделю</option>
    <option value="2">Менеджеры и сделки за неделю</option>
    <option value="3">Рекомендация по данным о компании</option>
  </select></br>
  <button type="submit" class="btn btn-primary">Добавить</button>
</form>
</div>
{% endblock %}