{% extends 'base.html' %}

{% block content %}


<form method="POST" action="/register/">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Имя пользователя</label>
      <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Ваш провиль в тг</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Пароль</label>
      <input type="password" class="form-control" name="password" id="password">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Чат для получения статистики</label>
        <input type="text" class="form-control" name="chatid" id="chatid">
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">ТГ аккаунт</label>
        <input type="text" class="form-control" name="tusername" id="tusername">
      </div>

    <button type="submit" class="btn btn-primary">Регистрация</button>
  </form>

  <div id="datad"></div>




  <script>
    document.getElementById('chatid').innerText = tg.initDataUnsafe.user.id
    document.getElementById('tusername').innerText = tg.initDataUnsafe.user.username

   </script>
  {% endblock %}